@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translate(-50%, -20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Orbitron";
  src: url("./assets/fonts/orbitron.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
