@import "tailwindcss";

body {
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/roboto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/orbitron.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
